.detailContainer {
  display: flex;
  justify-content: space-between;
  gap: 145px;
}
.detailContainer > button {
  margin: auto 0;
}
.pokemonDetailHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px
}
.pokemonDetailBody {
  margin-top: 50px;
  display: flex;
  align-items: start;
  gap: 50px
}
.pokemonImage {
  background: #f9f9f9;
  width: 50%;
  border-radius: 30px;
  border: 1px solid #eee;
}
.pokemonImage img {
  width: 400px;
  height: 400px
}
.pokemonContent {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 30px

}
.pokemonContent h2 {
  margin-bottom: 10px;
}
.pokemonContent p {
  font-size: 22px;
}
.pokemonBox {
  display: flex;
  justify-content: space-between;
  background-color: #30a7d7;
  border-radius: 10px; 
  padding: 20px;
  width: 60%;
}
.typeContainer {
  display: flex;
  gap: 20px
}
.detailTitle {
  font-size: 20px;
  color: #f9f9f9;
}

.pokemonStat table, th, td{
  border-collapse: collapse;
  border: 1px solid #111;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
th {
  width: 180px
}
.pokemonStat th:nth-child(1) {
  background-color: #77dd77
}
.pokemonStat th:nth-child(2) {
  background-color: #FAA0A0
}
.pokemonStat th:nth-child(3) {
  background-color: #8bd6f2
}
.pokemonStat th:nth-child(4) {
  background-color: #ffd1dc
}
.pokemonStat th:nth-child(5) {
  background-color: #b19cd9
}
.pokemonStat th:nth-child(6) {
  background-color: #fdfd96
}
.loading {
	display: flex;
	justify-content: center;
	align-items: center;
  margin: 200px 0;
}