.container > h1 {
  margin-bottom: 70px;
}

.pokemonList {
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  gap: 25px;
  justify-content: space-between;
  row-gap: 15px;
  flex-wrap: wrap
}

.pokemonItem {
  cursor: pointer;
  box-shadow: 4px 3px 3px #ccc;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 5px
}
.pokemonItem:hover {
  transform: scale(1.05);
}
.pokemonItemImage {
  width: 100px;
  height: 100px;
  overflow: hidden; /* Hide any overflow */
  display: flex; /* Center the image */
  justify-content: center;
  align-items: center;
}
.pokemonItemImage img {
  width: 100%; /* Scale the image to the container's width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Crop the image if necessary */
}
.pokemonItem p {
  white-space: nowrap; 
  width: 100px; 
  overflow: hidden;
  text-overflow: clip; 
}

.pokemonPagination {
  display: flex;
	justify-content: center;
  gap: 16px;
  align-items: center;
  margin-top: 30px;
}