#root {
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  font-family: Flexo-Medium
}
p, h1 , h2{
  margin: 0
}

.fade-enter {
  opacity: 0;
  transform: translateX(-100%); /* Start off-screen to the left */
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateX(0); /* Move to its original position */
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
